# SEO Error Redirects
RewriteEngine On
RewriteRule ^android.html / [R=301,L]
RewriteRule ^wp81.html / [R=301,L]
RewriteRule ^privacy.html&sa=D&usg=AFQjCNEuhlJOCVnlWxhPewlif1GjQu86sA /privacy.html [R=301,L]
RewriteRule ^m/ / [R=301,L]
RewriteRule ^mobile/ / [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.nprc\.nz [NC]
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ https://nprc\.nz%{REQUEST_URI}
